a{
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto';
    &:hover{
        text-decoration: none;
    }
}
.red {
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        @extend .red;
    }
}

.black {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

  &:hover {
      @extend .black;
  }
}
  #container{
    height: 400px;
  }
